.song-name {
	font-size: 2rem;
}

img {
	margin-right: 10px;
}
.list-group-item {
	background-color: #004346;
}

#non-available-songs {
	height: 100%;
}

input {
	color: #74B3CE;
}

input:focus {
	color: #74B3CE;
}