<div id="application-container">
	<ngx-loading-bar></ngx-loading-bar>
	<div id="top-bar">
		<div class="container">
			<span class="pull-right" *ngIf="spotify.userData && spotify.userData.display_name">Usuario actual <a [href]="spotify.userData.external_urls.spotify">{{ spotify.userData.display_name }}</a></span>	
			<span class="pull-right" *ngIf="spotify.userData && !spotify.userData.display_name">Usuario actual <a [href]="spotify.userData.external_urls.spotify">{{ spotify.userData.id }}</a></span>
		</div>
	</div>
	<div class="container">
		<h1>
			{{ title.getTitle() }}
		</h1>
		<router-outlet></router-outlet>
	</div>
</div>