/* You can add global styles to this file, and also import other style files */
body {
    color: #74B3CE;
    background-color: #172A3A;
}

input {
    background-color: #004346 !important;
}

a {
    color: #09BC8A;
}

a:hover {
    color: #508991;
}